fastapi>=0.110
uvicorn[standard]>=0.29
pydantic>=2.6
pydantic-settings>=2.2
scikit-learn>=1.4
pandas>=2.2
joblib>=1.3
requests>=2.31
supabase>=2.31.0
psycopg2-binary>=2.9
browser-history>=0.4
python-multipart>=0.0.9
